/* &display=swap */

@import "null.css";
@font-face {
	font-family: "Lato-Black";
	src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Lato-Bold";
	src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Lato-Regular";
	src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: "Lato-Regular";
	font-size: 20px;
	left: 346px;
	/* text-align: left;
	vertical-align: Center; */
	height: 120px;
}
h1 {
	width: 774px;
	top: 190px;
	font-family: "Lato-Black";
	color: #1e212c;
	line-height: 1.3;
	font-size: 46px;
}
.text1 {
	color: #424551;
	font-weight: 800;
	font-size: 16px;
	text-align: left;
	line-height: 26px;
	height: 234px;
	width: 774px;
	top: 936px;
}
.text {
	width: 774px;
	top: 190px;
	font-family: "Lato-Bold";
	font-weight: 900;
	color: #1e212c;
	vertical-align: top;
}
ul {
	height: 116px;
	width: 573.3333129882812px;
	top: 1410px;
	border-radius: 0px;
	line-height: 1.625;
	color: #424551;
	text-align: left;
	font-size: 16px;
}
.vtor {
	top: 1334px;
	width: 774px;
	height: 52px;
	color: #424551;
	font-size: 16px;
}
a {
	text-decoration: underline;
	color: grey;
}
.text3 {
	height: 130px;
	width: 774px;
	top: 1550px;
}
.text4 {
	width: 774px;
	left: 346px;
	top: 1166px;
	border-radius: 0px;
}
